.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 31, 31, 0.541);
}

.ModalBody {
  width: 90rem;
  height: 50rem;
  margin: 0 auto;
  background: white;
  z-index: 3000;
  backface-visibility: hidden;
}