.Navbar {
  background: #ffd050;
  padding: 1rem 0;
}

.Navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

a:active {
  font-weight: bold;
}

.NavItem {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  color: inherit;
  backface-visibility: hidden;
  cursor: pointer;
}

.NavItem:hover {
  font-weight: 900;
}

.Logo {
  flex: 1;
  padding-left: 4rem;
  align-self: center;
  cursor: pointer;
}

.Logo a {
  text-decoration: none;
  color: inherit;
}

.Logo h1 {
  font-size: 3.6rem;
  font-weight: 900;
}

.Sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.NavCenter {
  flex: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.NavEnd {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.NavEnd a:not(:first-child) {
  margin-left: 2rem;
}
