.Navbar {
  background: #ffd050;

  padding: 2rem 0;
}

.Navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar ul {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-right: 2rem;
}

a:active {
  font-weight: bold;
}

.NavItem {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: inherit;
  backface-visibility: hidden;
  cursor: pointer;
}

.NavItem:hover {
  font-weight: 900;
}

.Logo {
  flex: 1;
  padding-left: 4rem;
  align-self: center;
  cursor: pointer;
}

.Logo a {
  text-decoration: none;
  color: inherit;
}

.Logo h1 {
  font-size: 3.6rem;
  font-weight: 900;
}

.Sticky {
  position: fixed;
  top: 0;
  width: 100%;

}