.Table {
  display: flex;
  flex-direction: column;
}

.TableHeading {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  justify-content: space-between;

  background-color: rgb(239, 243, 243);
}

.TableHeading div:nth-child(1) {
  flex: 2;
}


.TableHeading div:nth-child(2) {
  flex: 4;
}

.TableHeading div:nth-child(3) {
  flex: 2;
}

.TableHeading div:nth-child(4) {
  flex: 2;
}


.PaymentsTable .TableHeading {
  display: grid;
  grid-template-columns: 5rem 1fr 1.5fr repeat(4, 1fr);
  /* background-color: blueviolet; */
}